body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #39b99e, #fcb69f);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(145, 211, 208);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(78, 6, 6, 0.1);
  width: 350px;
  text-align: center;
}

.controls label {
  display: block;
  margin: 0.5rem 0;
}

.output {
  display: flex;
  margin: 1rem 0;
}

#password {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #5e1f1f;
  border-radius: 20px 20px;
  outline: none;
}

#copy {
  background-color: #4CAF50; 
  color: rgb(68, 3, 3);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#copy:hover {
  background-color: #45a049; 
  transform: translateY(-2px);}


#copy:active {
  transform: translateY(0);}



#strengthMeter {
  height: 20px;
  width: 100%;
  background: #ddd;
  margin-top: 0.5rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  transition: background 0.3s;
}

#generate {
  background-color: #0892c0; 
  color: rgb(75, 1, 1);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#generate:hover {
  background-color: #077aa5; 
  transform: translateY(-2px);
}
#generate:active {
  transform: translateY(0);
}

.history {
  margin-top: 1rem;
  text-align: left;
}
.history ul {
  list-style: none;
  padding: 0;
}
.history li {
  background: #77d67f;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.history button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0077cc;
}